@mixin box-shadow {
    -webkit-box-shadow: 0px 10px 27px -2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 10px 27px -2px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 10px 27px -2px rgba(0, 0, 0, 0.75);
}

@mixin box-shadow-1 {
    -webkit-box-shadow: 0px 10px 27px -2px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 10px 27px -2px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 10px 27px -2px rgba(0, 0, 0, 0.4);
}


//--------------------------------------------------------------------

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&family=Poppins:wght@100;200;300;400;500;600;800;900&display=swap');

//----------------------------------------------------------------------

.primary-head {
    font-weight: 600;
    font-size: 50px;
    letter-spacing: 4px;
    font-family: 'Open Sans', sans-serif;
}
.secondary-head{
    font-size: 20px;
    font-weight: 100;
    font-family: 'Popins', sans-serif;
}
.button {
     display: inline-block;
     background: #fff;
     color:rgb(77, 77, 77);
     padding: 10px 18px;
     font-size: 16px;
     text-transform: uppercase;
     text-decoration: none;
     font-weight: 700;
    font-family: 'Popins', sans-serif;
     border: 3px solid #fff;
     letter-spacing: 2px;
     border-radius: 5px;
     transition: 1s;

     &:hover{
         background: transparent;
         color: #fff;
         text-decoration: none;
         font-weight: 700;
     }
 }
 .btn-archieve{
     position: absolute;
     bottom: 10px;
     right: 10px;

 }
 .header{
     color:#fff;
     font-family: 'Open Sans','sans-serif';
     font-size: 30px;
     font-weight: 700;
     text-align: center;
     text-shadow: 1px 2px 4px rgba(126, 126, 126, 0.747);
     text-transform: uppercase;
     transition: all 0.3s ease-in-out;
     display: inline-block;
     margin-bottom: 20px;
     background: #ecbd00;
     width: 100%;
 }
 



//--------------------------------------------------------------------------

html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url("../img/poster_image.jpg");
    background-size: cover;
    padding: 30px 200px;
}



.navbar{
    margin-bottom: 40px;
    
}
.nav-link{
    color: #fff !important;
    font-size: 16px;
}

.mcontainer-1 {
    width: 100%;
    display: flex;
    justify-content: space-between;

    
    .slider-activity {
        width: 60%;
        position: relative;
        @include box-shadow;

        .carousel-item {
            background: rgb(0, 0, 0);
            position: relative;
            height: 400px;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;

            &__descr {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translateX(-50%);
                color: #fff;
                text-align: center;
            }
        }

        img {
            // opacity: 0.6;
            flex-shrink: 0;
            min-width: 100%;
            min-height: 100%
        }

    }

    .slider-activity-big{
        width: 100%;
        height: 800px;
    }

    .notice {
        width: 35%;
        background: rgb(245, 245, 245);
        @include box-shadow;
        position: relative;

        height: 400px;

        &_top{
            height: 20%;
            background: url("../img/1alumnimeet.jpg") ;
            background-size: cover;
        }
        &_bot{
            padding: 20px;
        }
        &_bot > *{
            font-size: 60%;
            line-height: 3px;
        }
        

        
    }

}

//-------------------------------------------------------------------------------

.mcontainer-2{
    margin-top: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;

    .wrapper{
        width: 60%;
    }
    .alumani{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-content: space-evenly;

        &__img {
            height: 250px;
            width: 100%;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgb(0, 0, 0);
            overflow: hidden;
            img {
                width: 100%;
                min-height: 100%;
                opacity: 0.7;
                transform: scale(1.1);
                transform-origin: 50% 20%;
                transition: all 1s ease;
            }
        }

        &__text{
            padding: 15px;
            color: rgb(255, 255, 255);
            text-shadow: 1p 2px 2px #fff;
            position: absolute;
            top: 80%;
            left: 0;
            transition: all 1s ease;
            h1{
                font-size: 24px;
                font-family: 'open sans','Sans serif';
                font-weight: 700;

            }
            p{
                font-size: 16px;
                font-family: Popins,'Sans Serif';
            }
        }

        &-1{
            flex-basis: 48%;
            background: rgb(238, 238, 238);
            margin-bottom: 30px;
            @include box-shadow;
        }
        &-2 {
            flex-basis: 48%;
            background: rgb(238, 238, 238);
            margin-bottom: 30px;
            @include box-shadow;
        }
        &-3 {
            flex-basis: 48%;
            background: rgb(238, 238, 238);
            margin-bottom: 30px;
            @include box-shadow;
        }
        &-4 {
            flex-basis: 48%;
            background: rgb(238, 238, 238);
            margin-bottom: 30px;
            @include box-shadow;
        }
    }

    .slider-activity{
        display: none;
    }

    .social{
        width: 35%;
        height: 600px;
        overflow: scroll;
        position: relative;
        @include box-shadow;

        &::-webkit-scrollbar{
            background:  #ecbd00;
            width: 0;
            height: 0;
        }

        &__top{
            height: 50px;
            background:  #ecbd00;
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: sticky;
            top: 0;

            &-icon{
                font-size: 30px;
                color: #fff;
                flex-basis: 15%;
                margin-left: 20px;

            }
            &-text{
                color: #fff;
                font-size: 20px;
                text-transform: uppercase;
                flex-basis: 70%;
            }
        }
    }

}

button{
    background: none;
    outline: none;
    border: none;
}
.carousel-control-prev,
.carousel-control-next {
 top: 50%;
 transform: translateY(-50%);
 width: 100px;
 height: 100px;

}
/////////////////////////hover effects////////////////////////@at-root

.alumani__img:hover .alumani__text{
    top: 10%;
    left: 0;
}
.alumani__img:hover img{
    filter: blur(10px);
    opacity: 0.4;
    backface-visibility: hidden;
    transform: scale(1.2);
}


/////////////////////////queries/////////////////////////////////////@at-root

@media (max-width:1000px){
    body{
        padding: 30px 10px;
    }
    .mcontainer-1 {

            
        .notice {
            width: 38%;
            

            &-text {

                ul {
                    padding: 25px;

                    li {


                        &:not(:last-child) {
                            margin-bottom: 25px;
                        }


                    }
                }
            }

            &::before {font-size: 18px;
            }
        }

    }
    .mcontainer-2 {

        .wrapper {
            width: 60%;
            padding: 0;
        }

        .alumani {
            padding: 0;


            &__text {

                p {
                    font-size: 14px;
                }
            }

            &-1 {
                flex-basis:  48%;
                @include box-shadow-1;
                
            }

            &-2 {
                flex-basis: 48%;
                @include box-shadow-1;
                
            }

            &-3 {
                flex-basis: 48%;
                @include box-shadow-1;
                
            }

            &-4 {
                flex-basis: 48%;
                @include box-shadow-1;
                
            }
        }

        .social {
            width: 38%;

            
        }

    }
}

@media (max-width:875px){
    .mcontainer-1 {
        width: 100%;
        display: flex;
        justify-content: space-between;

        .slider-activity {
            width: 53%;
        }

        .notice {
            width: 45%;
            height: 400px;
        }

    }
    .mcontainer-2 {
        width: 100%;

        .wrapper {
            width: 50%;
        }

        .alumani {
            display: none;
        }

        .slider-activity {
            display: inline-block;
            position: relative;
            @include box-shadow;

            .carousel-item {
                background: rgb(0, 0, 0);
                position: relative;
                height: 400px;
                display: flex;
                justify-content: center;
                align-items: center;
                overflow: hidden;

                &__descr {
                    position: absolute;
                    top: 70%;
                    left: 50%;
                    transform: translateX(-50%);
                    color: #fff;

                }
            }

            img {
                opacity: 0.6;
                flex-shrink: 0;
                min-width: 100%;
                min-height: 100%
            }

        }


        .social {
            width: 49%;
            height: 465px;
        }

    }
    .primary-head{
        font-size: 38px;
    }
}

@media (max-width:680px){
    .mcontainer-1 {
        width: 100%;
        display: inline-block;

        .slider-activity {
            width: 100%;
            margin-bottom: 30px;

            .carousel-item {

                &__descr {
                    transform: translateX(-50%);
                    color: #fff;
                    left: 50%;
                    bottom: 0;

                }
            }

            img {
                opacity: 0.6;
                flex-shrink: 0;
                min-width: 100%;
                min-height: 100%
            }

        }

        .notice {
            width: 90%;
            margin: auto;
            @include box-shadow;

            height: 300px;
        }

    }

    .mcontainer-2 {
        margin-top: 30px;
        width: 100%;
        display: inline-block;

        .wrapper {
            width: 90%;
            margin: auto;
            .header{
                display: flex;
                justify-content: center;
                margin: 0;
                margin-bottom: 20px;
            }
        }

        .alumani{
            display: none;
        }

        .slider-activity {
            display: inline-block;
            width: 100%;
            position: relative;
            @include box-shadow;

            .carousel-item {
                background: rgb(0, 0, 0);
                position: relative;
                height: 400px;
                display: flex;
                justify-content: center;
                align-items: center;
                overflow: hidden;

                &__descr {
                    position: absolute;
                    top: 70%;
                    left: 50%;
                    transform: translateX(-50%);
                    color: #fff;

                }
            }

            img {
                opacity: 0.6;
                flex-shrink: 0;
                min-width: 100%;
                min-height: 100%
            }

        }


        .social {
            width: 90%;
            margin: auto;
            margin-top: 10px;
            .posts{
                overflow: hidden;
            }
        }

    }
    .primary-head {
        font-size: 36px;
    }

    .secondary-head {
        font-size: 16px;
    }
    .alumani__img:hover .alumani__text {
        top: 80%;
        left: 0;
    }

    .alumani__img:hover img {
        filter: none;
        opacity: 0.6;
        backface-visibility: hidden;
        transform: scale(1.1);
    }
}

@media (max-width:400px){
    .mcontainer-2 {

        .wrapper {
            width: 100%;
            padding: 20px;
            background: rgb(255, 255, 255);
            @include box-shadow;
        }
        .slider-activity {
            width: 100%;
            background: none;
            box-shadow: none;

            .carousel-item {
                height: 300px;

            }

        }


        .social {
            width: 100%;
            height: 600px;
            padding: 20px;
        }

    }
}