@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&family=Poppins:wght@100;200;300;400;500;600;800;900&display=swap");

.primary-head {
  font-weight: 600;
  font-size: 50px;
  letter-spacing: 4px;
  font-family: 'Open Sans', sans-serif;
}

.secondary-head {
  font-size: 20px;
  font-weight: 100;
  font-family: 'Popins', sans-serif;
}

.button {
  display: inline-block;
  background: #fff;
  color: #4d4d4d;
  padding: 10px 18px;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  font-family: 'Popins', sans-serif;
  border: 3px solid #fff;
  letter-spacing: 2px;
  border-radius: 5px;
  -webkit-transition: 1s;
  transition: 1s;
}

.button:hover {
  background: transparent;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
}

.btn-archieve {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.header {
  color: #fff;
  font-family: 'Open Sans','sans-serif';
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  text-shadow: 1px 2px 4px rgba(126, 126, 126, 0.747);
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display: inline-block;
  margin-bottom: 20px;
  background: rgb(230,175,34);
  width: 100%;
}

html {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: url("../img/poster_image.jpg");
  background-size: cover;
  padding: 0px 200px;
}

.top{
    padding: 10px 20px;
    margin-bottom: 0px;
    background-color:darkblue;
}
.top .vl{
  border-left: 4px solid rgb(0, 0, 0);
  
}
span{
  font-weight: bold;;
   color: #fff;
}
.top .btn{
  display: inline-block;
  margin-top: 20px;
  /* padding-top: 10px 30px; */
  float: right;
  text-decoration:none;
  background-color:#22e6e0;
  color:#000;
  border: 200px;

}

.navbar {
  
  margin-bottom: 10px;
  width: 100%;
  background-color:rgb(230,175,34);
}

.nav-link {
  color: #fff !important;
  font-size: 16px;
}
.mcontainer-1 .slider-activity {
  width: 60%;}
.mcontainer-1 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.mcontainer-1 .slider-activity {
  width: 60%;}
/* 
.mcontainer-1 .slider-activity {
  width: 60%;
  position: relative;
  -webkit-box-shadow: 0px 10px 27px -2px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 10px 27px -2px rgba(0, 0, 0, 0.75);
}

.mcontainer-1 .slider-activity .carousel-item {
  background: black;
  position: relative;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.mcontainer-1 .slider-activity .carousel-item__descr {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: #fff;
  text-align: center;
}

.mcontainer-1 .slider-activity img {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
}

.mcontainer-1 .slider-activity-big {
  width: 100%;
  height: 800px;
} */

.mcontainer-1 .notice {
  width: 35%;
  background: whitesmoke;
  -webkit-box-shadow: 0px 10px 27px -2px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 10px 27px -2px rgba(0, 0, 0, 0.75);
  position: relative;
  height: 400px;
}

.mcontainer-1 .notice_top {
  height: 20%;
  background: url("../img/1alumnimeet.jpg");
  background-size: cover;
}

.mcontainer-1 .notice_bot {
  padding: 20px;
}

.mcontainer-1 .notice_bot > * {
  font-size: 60%;
  line-height: 3px;
}

.mcontainer-2 {
  margin-top: 50px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mcontainer-2 .wrapper {
  width: 60%;
}

.mcontainer-2 .alumani {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: space-evenly;
      align-content: space-evenly;
}

.mcontainer-2 .alumani__img {
  height: 250px;
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: black;
  overflow: hidden;
}

.mcontainer-2 .alumani__img img {
  width: 100%;
  min-height: 100%;
  opacity: 0.7;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transform-origin: 50% 20%;
          transform-origin: 50% 20%;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.mcontainer-2 .alumani__text {
  padding: 15px;
  color: white;
  text-shadow: 1p 2px 2px #fff;
  position: absolute;
  top: 80%;
  left: 0;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.mcontainer-2 .alumani__text h1 {
  font-size: 24px;
  font-family: 'open sans','Sans serif';
  font-weight: 700;
}

.mcontainer-2 .alumani__text p {
  font-size: 16px;
  font-family: Popins,'Sans Serif';
}

.mcontainer-2 .alumani-1 {
  -ms-flex-preferred-size: 48%;
      flex-basis: 48%;
  background: #eeeeee;
  margin-bottom: 30px;
  -webkit-box-shadow: 0px 10px 27px -2px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 10px 27px -2px rgba(0, 0, 0, 0.75);
}

.mcontainer-2 .alumani-2 {
  -ms-flex-preferred-size: 48%;
      flex-basis: 48%;
  background: #eeeeee;
  margin-bottom: 30px;
  -webkit-box-shadow: 0px 10px 27px -2px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 10px 27px -2px rgba(0, 0, 0, 0.75);
}

.mcontainer-2 .alumani-3 {
  -ms-flex-preferred-size: 48%;
      flex-basis: 48%;
  background: #eeeeee;
  margin-bottom: 30px;
  -webkit-box-shadow: 0px 10px 27px -2px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 10px 27px -2px rgba(0, 0, 0, 0.75);
}

.mcontainer-2 .alumani-4 {
  -ms-flex-preferred-size: 48%;
      flex-basis: 48%;
  background: #eeeeee;
  margin-bottom: 30px;
  -webkit-box-shadow: 0px 10px 27px -2px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 10px 27px -2px rgba(0, 0, 0, 0.75);
}

.mcontainer-2 .slider-activity {
  display: none;
}

.mcontainer-2 .social {
  width: 35%;
  height: 600px;
  overflow: scroll;
  position: relative;
  -webkit-box-shadow: 0px 10px 27px -2px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 10px 27px -2px rgba(0, 0, 0, 0.75);
}

.mcontainer-2 .social::-webkit-scrollbar {
  background: rgb(230,175,34);
  width: 0;
  height: 0;
}

.mcontainer-2 .social__top {
  height: 50px;
  background: rgb(230,175,34);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.mcontainer-2 .social__top-icon {
  font-size: 30px;
  color: #fff;
  -ms-flex-preferred-size: 15%;
      flex-basis: 15%;
  margin-left: 20px;
}

.mcontainer-2 .social__top-text {
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
}

button {
  background: none;
  outline: none;
  border: none;
}

.carousel-control-prev,
.carousel-control-next {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 100px;
  height: 100px;
}

.alumani__img:hover .alumani__text {
  top: 10%;
  left: 0;
}

.alumani__img:hover img {
  -webkit-filter: blur(10px);
          filter: blur(10px);
  opacity: 0.4;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

@media (max-width: 1000px) {
  body {
    padding: 30px 10px;
  }
  .mcontainer-1 .notice {
    width: 38%;
  }
  .mcontainer-1 .notice-text ul {
    padding: 25px;
  }
  .mcontainer-1 .notice-text ul li:not(:last-child) {
    margin-bottom: 25px;
  }
  .mcontainer-1 .notice::before {
    font-size: 18px;
  }
  .mcontainer-2 .wrapper {
    width: 60%;
    padding: 0;
  }
  .mcontainer-2 .alumani {
    padding: 0;
  }
  .mcontainer-2 .alumani__text p {
    font-size: 14px;
  }
  .mcontainer-2 .alumani-1 {
    -ms-flex-preferred-size: 48%;
        flex-basis: 48%;
    -webkit-box-shadow: 0px 10px 27px -2px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 10px 27px -2px rgba(0, 0, 0, 0.4);
  }
  .mcontainer-2 .alumani-2 {
    -ms-flex-preferred-size: 48%;
        flex-basis: 48%;
    -webkit-box-shadow: 0px 10px 27px -2px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 10px 27px -2px rgba(0, 0, 0, 0.4);
  }
  .mcontainer-2 .alumani-3 {
    -ms-flex-preferred-size: 48%;
        flex-basis: 48%;
    -webkit-box-shadow: 0px 10px 27px -2px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 10px 27px -2px rgba(0, 0, 0, 0.4);
  }
  .mcontainer-2 .alumani-4 {
    -ms-flex-preferred-size: 48%;
        flex-basis: 48%;
    -webkit-box-shadow: 0px 10px 27px -2px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 10px 27px -2px rgba(0, 0, 0, 0.4);
  }
  .mcontainer-2 .social {
    width: 38%;
  }
}

@media (max-width: 875px) {
  .mcontainer-1 {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .mcontainer-1 .slider-activity {
    width: 53%;
  }
  .mcontainer-1 .notice {
    width: 45%;
    height: 400px;
  }
  .mcontainer-2 {
    width: 100%;
  }
  .mcontainer-2 .wrapper {
    width: 50%;
  }
  .mcontainer-2 .alumani {
    display: none;
  }
  .mcontainer-2 .slider-activity {
    display: inline-block;
    position: relative;
    -webkit-box-shadow: 0px 10px 27px -2px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 10px 27px -2px rgba(0, 0, 0, 0.75);
  }
  .mcontainer-2 .slider-activity .carousel-item {
    background: black;
    position: relative;
    height: 400px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    overflow: hidden;
  }
  .mcontainer-2 .slider-activity .carousel-item__descr {
    position: absolute;
    top: 70%;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    color: #fff;
  }
  .mcontainer-2 .slider-activity img {
    opacity: 0.6;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
  }
  .mcontainer-2 .social {
    width: 49%;
    height: 465px;
  }
  .primary-head {
    font-size: 38px;
  }
}

@media (max-width: 680px) {
  .mcontainer-1 {
    width: 100%;
    display: inline-block;
  }
  .mcontainer-1 .slider-activity {
    width: 100%;
    margin-bottom: 30px;
  }
  .mcontainer-1 .slider-activity .carousel-item__descr {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    color: #fff;
    left: 50%;
    bottom: 0;
  }
  .mcontainer-1 .slider-activity img {
    opacity: 0.6;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
  }
  .mcontainer-1 .notice {
    width: 90%;
    margin: auto;
    -webkit-box-shadow: 0px 10px 27px -2px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 10px 27px -2px rgba(0, 0, 0, 0.75);
    height: 300px;
  }
  .mcontainer-2 {
    margin-top: 30px;
    width: 100%;
    display: inline-block;
  }
  .mcontainer-2 .wrapper {
    width: 90%;
    margin: auto;
  }
  .mcontainer-2 .wrapper .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0;
    margin-bottom: 20px;
  }
  .mcontainer-2 .alumani {
    display: none;
  }
  .mcontainer-2 .slider-activity {
    display: inline-block;
    width: 100%;
    position: relative;
    -webkit-box-shadow: 0px 10px 27px -2px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 10px 27px -2px rgba(0, 0, 0, 0.75);
  }
  .mcontainer-2 .slider-activity .carousel-item {
    background: black;
    position: relative;
    height: 400px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    overflow: hidden;
  }
  .mcontainer-2 .slider-activity .carousel-item__descr {
    position: absolute;
    top: 70%;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    color: #fff;
  }
  .mcontainer-2 .slider-activity img {
    opacity: 0.6;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
  }
  .mcontainer-2 .social {
    width: 90%;
    margin: auto;
    margin-top: 10px;
  }
  .mcontainer-2 .social .posts {
    overflow: hidden;
  }
  .primary-head {
    font-size: 36px;
  }
  .secondary-head {
    font-size: 16px;
  }
  .alumani__img:hover .alumani__text {
    top: 80%;
    left: 0;
  }
  .alumani__img:hover img {
    -webkit-filter: none;
            filter: none;
    opacity: 0.6;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

@media (max-width: 400px) {
  .mcontainer-2 .wrapper {
    width: 100%;
    padding: 20px;
    background: white;
    -webkit-box-shadow: 0px 10px 27px -2px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 10px 27px -2px rgba(0, 0, 0, 0.75);
  }
  .mcontainer-2 .slider-activity {
    width: 100%;
    background: none;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .mcontainer-2 .slider-activity .carousel-item {
    height: 300px;
  }
  .mcontainer-2 .social {
    width: 100%;
    height: 600px;
    padding: 20px;
  }
}
#footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #192849;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fff;
  padding: 50px;
}

#footer a {
  text-decoration: none;
  color: #fff;
}
/*# sourceMappingURL=main.css.map */